/* font-family: 'Lato', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Bellefair', serif; */





.ant-menu-item-selected , .ant-menu-submenu-selected {
  border-bottom: 3px solid  #4834d4 !important;
}
.ant-menu-item-selected .link, .ant-menu-submenu-selected .link, .ant-menu-item-selected .anticon, .ant-menu-submenu-selected .ant-menu-submenu-title{
  color:#4834d4 !important;
}
.ant-menu-item-disabled .link,.ant-menu-item-disabled .anticon {
  color: rgba(0, 0, 0, 0.25) !important
}



.ant-menu-item:hover .link,.ant-menu-item:hover .anticon, .ant-menu-submenu-selected:hover span, .ant-menu-submenu-selected:hover .anticon {
  color: #686de0 !important;
}


.has-error .ant-form-explain, .has-error .ant-form-split {
  color:white;
}


.ant-input,
.ant-input-search-button {
  border-radius: 50px !important;
  height: 50px !important;
  font-family: lato;
  font-style: italic;
  font-size: 1rem;
  text-align: center;
}
.ant-input-search-icon,
.ant-calendar-picker-icon:after {
  color: rgba(45, 32, 102, 0.5) !important;
}
.ant-input:focus,
.ant-input:hover,
.ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled),
.ant-calendar-picker:focus,
.ant-calendar-picker:hover,
.ant-calendar-picker-input:not(.ant-input-disabled) {
  border-color: rgb(190, 190, 190) !important;
}
.ant-input:focus,
.ant-input:hover,
.ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
  box-shadow: 0 0 2px 2px rgba(189, 189, 189, 0.24);
}

.ant-calendar-range-picker-input,
.ant-calendar-range-picker-separator {
  font-family: lato;
  font-style: italic;
  font-size: 1rem;
}
.ant-calendar-picker-clear,
.ant-calendar-picker-icon {
  padding-right: 15px;
}
.ant-calendar-range-picker-separator {
  vertical-align: none;
}


.sessionTableList {
  margin-top: 30px;
}


.sessionItem h3 {
  color:white;
}

.session-row {
  background:rgba(255, 255, 255, 0.2);
  color: white
}

.session-row:hover {
  color:#4834d4
}

